<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/jquery.js"></script>
    <link rel="shortcut icon" href="~/assets/money.png">
    @if (ViewBag.Game == true)
    {
        <link rel="stylesheet" href="~/main.css">
        <link rel="stylesheet" href="~/plase.css">
        <link rel="stylesheet" href="~/placecart.css">
        <link rel="stylesheet" href="~/color.css">
    }
    <title>Mono Poly</title>
</head>
<body>
    <main>
        @RenderBody()
        <a class="clear" href="~/Home/Clear">پاکسازی</a>
    </main>
</body>
</html>
